
#div1{
    width:20%;
}
header{
    display: flex;
}

.container{
    display: flex;
    flex-direction: row;
}

.headerImg{
    display: flex;
    width: 175px;
    height: 75px;
    padding-left: 182px;
}

.HGY{
    display: flex;
    width: 450px;
    height: 75px;
    padding-left: 20px;
}
h5{
    font-size: 450%;
    color:rgb(226, 228, 230);
    margin:0%;
    padding-left: 40px;
}